{% extends 'base.html' %}

{% block title %}
<title> Home | Featured Articles</title>
{% endblock title %}
{% block headline %}
<h1 class="display-4 font-italic">{{ headline_article.title }}</h1>
<p class="lead my-3"> {{headline_article.content|truncatechars:40}}</p>
<p class="lead mb-0">
    <a href="#" class="text-white font-weight-bold">Continue reading...</a>
</p>
{% endblock headline %}

{% block featured %}
{% for article in featured_latest_two %}
<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success"> {{ article.category}} </strong>
            <h3 class="mb-0">{{article.title|truncatechars:20}}</h3>
            <div class="mb-1 text-muted">{{article.publish_date|date}}</div>
            <p class="card-text mb-auto">{{article.content|truncatechars:80}}</p>
            <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img style="width: 200px; height: 250px" src="{{article.thumbnail.url}}" href="{{article.slug}}"/>
        </div>
    </div>
</div>
{% endfor %}
{% endblock featured %}
{% block articles %}
    {% for article in latest_three_articles %}
        <h1> {{ article.title }}</h1>
        {% if article.subtitle %}
            <h4> {{article.subtitle}}</h4>
        {% endif %}
        <small class="italic"> {{article.publish_date|date}} | by <span> {{article.author}}</span> </small>
        <hr/>
        <p> {{ article.content|safe }}</p>
    {% endfor %}
{% endblock articles %}